<div class="info-panel">
  <div class="info-card">
    <h1 class="info-title" *ngIf="!selectedProvince">
      Mapa
    </h1>

    <h1 class="info-title" *ngIf="selectedProvince">
      {{ selectedProvince.NUTS_NAME }}, {{ selectedProvince.CNTR_CODE }}
    </h1>

    <p class="info-description" *ngIf="!selectedProvince">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet consequat nisl. Sed vitae felis eu metus dignissim finibus non sed nibh.
    </p>
  </div>
</div>
